<p class="mt-4 p-5 bg-secondary text-white rounded" style="font-size: 28px;">
    Welcome to Movies MVC Core!
</p>

<h3>HTML - Javascript - CSS Intro</h3>
<a href="/Html_Javascript_CSS_Intro/01_MyHelloWorldPage.htm" target="_blank">01_MyHelloWorldPage.htm</a>
<br />
<a href="/Html_Javascript_CSS_Intro/02_BasicHtml.html" target="_blank">02_BasicHtml.html</a>
<br />
<a href="/Html_Javascript_CSS_Intro/03_BasicCss.html" target="_blank">03_BasicCss.html</a>
<br />
<a href="/Html_Javascript_CSS_Intro/04_BasicJavascript.html" target="_blank">04_BasicJavascript.html</a>
<br />
<a href="/Html_Javascript_CSS_Intro/05_BasicJquery.html" target="_blank">05_BasicJquery.html</a>
<br />
<a href="/Html_Javascript_CSS_Intro/06_BasicBootstrap.html" target="_blank">06_BasicBootstrap.html</a>