<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movies MVC Core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_038_MoviesMvcCoreIntroBilgeAdam.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Movies MVC Core</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Database" asp-action="Seed">Seed Database</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movies" asp-action="Index">Movie List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Directors" asp-action="Index">Director List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="Index">Review List</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Bilge Adam
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* 
        Server tarafından controller action'larında model data annotation'larına göre server side validation 
        yapılabileceği gibi client (tarayıcı) üzerinden aşağıdaki Javascript kütüphaneleri referans olarak eklenerek
        Javascript kodları üzerinden client side validation yapılabilir. Böylece validasyon sorunlarında sunucuya istek 
        boş yere gönderilip her seferinde _Layout HTML kodları ile birlikte View HTML kodlarını içeren 
        yanıtın dönmesi engellenmiş ve validasyon sorunları sadece tarayıcı üzerinden Javascript ile gösterilmiş olur.
    *@
    @* 
        Aşağıdaki script referansları ~/Views/Shared/_ValidationScriptsPartial.cshtml içerisinde olduğundan
        script referanslarını eklemek yerine partial tag helper'ı kullanılabilir.
    *@
    @*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    @*<partial name="_ValidationScriptsPartial" />*@ 
    @* 
        Bu şekilde tüm web uygulamasında client side validation aktif hale gelmiş olur. 
        Ancak tüm web uygulamasında aktif etmek yerine sadece form içeren view'larda aktif etmek daha uygundur.
        Bunun için de aşağıdaki RenderSectionAsync methodunun View'lerde section Scripts yazılan yerler için oluşturduğu, 
        form içeren View'lerin en altına:
        @section Scripts
        {
            <partial name="_ValidationScriptsPartial" />
        }
        eklenmesi yeterlidir. Örnek olarak Directors controller'ının Create ve Edit View'lerinde yapılmıştır.
    *@

    @await RenderSectionAsync("Scripts", required: false) 
    @* Eğer required true gönderilirse bütün View'lerde Scripts adında bir section olmalıdır, olmazsa uygulama hata fırlatır. *@
</body>
</html>
