@*@model _038_MoviesMvcCoreIntroBilgeAdam.Entities.Director*@
@model DirectorModel

@{
    ViewData["Title"] = "Create New Director";
}

<h1>@ViewData["Title"]</h1>

<h4>Director</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label asp-for="Name" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" placeholder="Enter director name..." />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Surname" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <input asp-for="Surname" class="form-control" placeholder="Enter director surname..." />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label asp-for="Retired" class="col-2 col-form-label"></label>
                <div class="col-5" style="padding-top: 7px;">
                    <input class="form-check-input" asp-for="Retired" /> 
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="MovieIdsModel" class="col-2 col-form-label"></label>
                <div class="col-5">
                    <select asp-for="MovieIdsModel" asp-items="ViewBag.Movies" class="form-control" multiple></select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-2 col-5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    &nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-primary">Reset</button>
                    &nbsp;&nbsp;
                    <a asp-action="Index">Back to Director List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@* 
    Bu view'de client side validation'ı (tarayıcı üzerinden validasyon) aktif etmek için eklendi. 
    Ekstra bilgi için bakınız: ~/Views/Shared/_Layout.cshtml satır 55
*@
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}