@*@model _038_MoviesMvcCoreIntroBilgeAdam.Entities.Director*@
@model DirectorModel

@{
    ViewData["Title"] = "Director Details";
}

<h1>@ViewData["Title"]</h1>

@*@Html.Partial("_Details", Model)*@
<partial name="_Details" model="Model" />
@* 
    Detay bilgisini içeren _Details kısmi view'ı ~/Views/Directors klasörü altındadır. 
    Eğer bu kısmi view Directors controller ve view'ları dışında diğer controller ve view'lerde de kullanılmak isteniyorsa ~/Views/Shared klasörü altında oluşturulmalıdır.
*@

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to Director List</a>
</div>
