@*@model _038_MoviesMvcCoreIntroBilgeAdam.Entities.Review*@
@model ReviewModel

@{
    ViewData["Title"] = "Edit Review";
}

<h1>@ViewData["Title"]</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-12">
        
        <partial name="_CreateEdit" model="Model" />

    </div>
</div>

@* 
	https://uxsolutions.github.io/bootstrap-datepicker adresinden indirdiğimiz bootstrap-datepicker js-css kütüphanesini projemizde
	~/wwwroot/plugins/bootstrap-datepicker klasörüne çıkarttık.
	Takvimin sayfada kullanımında tarayıcının form verilerini otomatik olarak doldurması devre dışı bırakılmalı, 
	bunun için form tag'ine autocomplete="off" html attribute'u eklenmeli.
*@
@section Scripts
{
	<partial name="_ValidationScriptsPartial" /> @* client side validation *@

	<link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
	<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

	@* takvimi Türkçe kullanabilmek için eklenmeli. *@
	@*<script src="/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>*@

	<script>

		//$(document).ready(function(){
		$(function(){
			$('.date').datepicker({
                autoclose: true,
                todayHighlight: true,
                orientation: "bottom auto",
                format: "mm/dd/yyyy"

                //,language: "tr" // takvimi Türkçe kullanabilmek için eklenmeli.
            });
		});

	</script>
}